/* footer Section Template*/


#footer{
    .container{
        max-height: 50px;
        min-height: 50px;
    }
    .footer-end{
        margin-top:130px;
        decoration:none;
        margin-bottom: 0px;
    }
}